@import "./animations";

body {
  background: black;
  color: white;
  font-family: 'Didact Gothic', sans-serif;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 25px 15px;
}

.greeting-message-wrapper {
  width: 100%;
  .greeting-message {
    position: relative;
    z-index: 10;
    font-weight: bold;
    font-size: 60px;
    cursor: pointer;
    @media only screen and (max-width: 600px) {
      font-size: 40px;
    }
  }
}

.search-bar {
  margin-top: 20px;
  padding: 10px;
  input {
    &::placeholder {
      color: #aeaeae;
      font-weight: 100;
    }
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 20px;
    width: 100%;
  }
}

.location-info {
  min-height: 80px;
  .city-info {
    font-size: 36px;
  }
  .time-info {
    font-size: 52px;
  }
}

.weather-info {
  border: 1px solid white;
  padding: 15px;
  min-height: 180px;

  > div {
    margin-bottom: 15px;
  }


  .temp-info {
    >div:first-child {
      font-size: 26px; 
    }
    >div {
      font-size: 20px; 
    }
  }
  
  .weather-bullets {
    h2 {
      margin: 0;
    }
    .weather-bullet {
      margin-left: 5px;
      &:before {
        content: '- ';
      }
    }
  }
}
